<% provide :title, t(".page_title") %>
<h1><%= t ".page_title" %></h1>
<%= will_paginate previous_label: t("will_paginate.previous_label"),
  next_label: t("will_paginate.next_label") %>
<ul class="users">
  <%= render @users %>
</ul>
<%= will_paginate previous_label: t("will_paginate.previous_label"),
  next_label: t("will_paginate.next_label") %>
